body {
  margin: 0;
  padding: 0;
}

h1{
  margin: 15px;
  font-size: 50px;
}
p{
    margin: 15px;
    font-size: 20px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ff0000;
}

ul li {
  float: left;
  border-right:3px solid #00d9ff;
}

ul li:last-child {
  border-right: none;
}

ul li a {
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 20px 152px;
  text-decoration: none;
}

ul li a:hover:not(.active) {
  background-color: #00d9ff;
}

ul li a.active {
  background-color: #000000;
}